
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: role
rules:
- apiGroups:
  - console.openshift.io
  resources:
  - consolelinks
  verbs:
  - create
  - delete
  - get
  - list
  - update

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: role
  namespace: system
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - endpoints
  - events
  - persistentvolumeclaims
  - pods
  - secrets
  - services
  - services/finalizers
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - endpoints
  - pods
  - secrets
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  - replicasets
  - statefulsets
  verbs:
  - '*'
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  - issuers
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - create
  - get
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - '*'
- apiGroups:
  - rhjmc.redhat.com
  resources:
  - containerjfrs
  verbs:
  - '*'
- apiGroups:
  - rhjmc.redhat.com
  resources:
  - containerjfrs
  - flightrecorders
  verbs:
  - '*'
- apiGroups:
  - rhjmc.redhat.com
  resources:
  - containerjfrs
  - flightrecorders
  - recordings
  verbs:
  - '*'
- apiGroups:
  - rhjmc.redhat.com
  resources:
  - containerjfrs/finalizers
  verbs:
  - update
- apiGroups:
  - rhjmc.redhat.com
  resources:
  - containerjfrs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - rhjmc.redhat.com
  resources:
  - flightrecorders
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rhjmc.redhat.com
  resources:
  - flightrecorders/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - rhjmc.redhat.com
  resources:
  - recordings/finalizers
  verbs:
  - update
- apiGroups:
  - rhjmc.redhat.com
  resources:
  - recordings/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  - routes/custom-host
  verbs:
  - '*'
