apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: recordings.rhjmc.redhat.com
spec:
  group: rhjmc.redhat.com
  names:
    kind: Recording
    listKind: RecordingList
    plural: recordings
    singular: recording
  scope: Namespaced
  subresources:
    status: {}
  version: v1alpha2
  versions:
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        description: Recording is the Schema for the recordings API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RecordingSpec defines the desired state of Recording
            properties:
              archive:
                description: Whether this recording should be saved to persistent
                  storage. If true, the JFR file will be retained until this object
                  is deleted. If false, the JFR file will be deleted when its corresponding
                  JVM exits.
                type: boolean
              duration:
                description: The requested total duration of the recording, a zero
                  value will record indefinitely.
                type: string
              eventOptions:
                description: 'A list of event options to use when creating the recording.
                  These are used to enable and fine-tune individual events. Examples:
                  "jdk.ExecutionSample:enabled=true", "jdk.ExecutionSample:period=200ms"'
                items:
                  type: string
                type: array
              flightRecorder:
                description: Reference to the FlightRecorder object that corresponds
                  to this Recording
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
              name:
                description: Name of the recording to be created.
                type: string
              state:
                description: Desired state of the recording. If omitted, RUNNING will
                  be assumed.
                enum:
                - RUNNING
                - STOPPED
                type: string
            required:
            - archive
            - duration
            - eventOptions
            - flightRecorder
            - name
            type: object
          status:
            description: RecordingStatus defines the observed state of Recording
            properties:
              downloadURL:
                description: A URL to download the JFR file for the recording.
                type: string
              duration:
                description: The duration of the recording specified during creation.
                type: string
              startTime:
                description: The date/time when the recording started.
                format: date-time
                type: string
              state:
                description: Current state of the recording.
                enum:
                - CREATED
                - RUNNING
                - STOPPING
                - STOPPED
                type: string
            type: object
        type: object
    served: true
    storage: false
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Recording is the Schema for the recordings API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RecordingSpec defines the desired state of Recording
            properties:
              archive:
                description: Whether this recording should be saved to persistent
                  storage. If true, the JFR file will be retained until this object
                  is deleted. If false, the JFR file will be deleted when its corresponding
                  JVM exits.
                type: boolean
              duration:
                description: The requested total duration of the recording, a zero
                  value will record indefinitely.
                type: string
              eventOptions:
                description: 'A list of event options to use when creating the recording.
                  These are used to enable and fine-tune individual events. Examples:
                  "jdk.ExecutionSample:enabled=true", "jdk.ExecutionSample:period=200ms"'
                items:
                  type: string
                type: array
              flightRecorder:
                description: Reference to the FlightRecorder object that corresponds
                  to this Recording
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
              name:
                description: Name of the recording to be created.
                type: string
              state:
                description: Desired state of the recording. If omitted, RUNNING will
                  be assumed.
                enum:
                - RUNNING
                - STOPPED
                type: string
            required:
            - archive
            - duration
            - eventOptions
            - flightRecorder
            - name
            type: object
          status:
            description: RecordingStatus defines the observed state of Recording
            properties:
              downloadURL:
                description: A URL to download the JFR file for the recording.
                type: string
              duration:
                description: The duration of the recording specified during creation.
                type: string
              reportURL:
                description: A URL to download the autogenerated HTML report for the
                  recording
                type: string
              startTime:
                description: The date/time when the recording started.
                format: date-time
                type: string
              state:
                description: Current state of the recording.
                enum:
                - CREATED
                - RUNNING
                - STOPPING
                - STOPPED
                type: string
            type: object
        type: object
    served: true
    storage: true
